.hana-main-center {
    place-content: center;
}
.hana-main-flex {
    display: flex;
}
.hana-image {
    margin: 3%;
    width: 250px;
    height: 300px;
}
.hana-main-text-center {
    text-align: center;
}
.hana-main-ranking-title {
    font-size: large;
    font-weight: bold;
}
.hana-main-rank-button {
    margin-top: 40px;
    border: none;
    padding: 10px;
    background: rgba(25, 139, 131, 1);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    width: 150px;
}
.hana-main-margin {
    margin: 100px;
}